<!-- TODO: make each footernav link go to their respective views -->
<div id="footernav" data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#" class="ui-btn-active ui-state-persist"><i class="fa fa-money fa-2x"></i><br>Earn</a></li>
      <li><a href="#"><i class="fa fa-gift fa-2x"></i><br>Redeem</a></li>
      <li><a href="#"><i class="fa fa-gear fa-2x"></i><br>Settings</a></li>
    </ul>
  </div><!-- /navbar -->
</div><!-- /footer -->
