<!-- TODO: make the coins link go to coin payment history page -->
<!-- TODO: create coins model and display coin amount -->
<div id="toolbarback" data-role="header" data-position="fixed">
  <a href="#" data-rel="back" class="ui-btn-left" style="background-color:#3388CC; border-color:#3388CC; color:white; box-shadow:none;"><i class="fa fa-arrow-left"></i> <b>Back</b></a>
  <h1>Tap Earner</h1>
  <a href="#" class="ui-btn-right" style="background-color:#3388CC; border-color:#3388CC; color:white; box-shadow:none;">&#128176; 100</i></a>
</div>
